
.top{
    height:55px;
}
/* contact body  */
.body-contact{
    color : white;
    text-align: left;
    margin: 0 auto;
    padding: 20px;
    width: 50%;
    height:500px;
    overflow: scroll;
    border: solid;
  border-color: white;
  border-width: 3px;
  border-radius: 4px; 
  background-color: dimgray;
  

}
/* about body  */
.body-index{
    color : white;
    text-align: justify;
    margin: 0 auto;
    padding: 10px;
    width: 75%;
    height: 60%;
    overflow: scroll;
    border: solid;
  border-color: white;
  border-width: 3px;
  border-radius: 4px; 
  position: center;
  background-color: dimgray;
  
}

/* Portfolio body  */
.body-portfolio{
    color : white;
    text-align: left;
    margin: 0 auto;
    padding: 20px;
    width: 65%;
    height: 700px;
    overflow: scroll;
    border: solid;
  border-color: white;
  border-width: 3px;
  border-radius: 4px; 
  background-color: dimgray;
}
/* fonts  */
p, h2, h1 { 
    color : white;
    font-family: Helvetica;
    
}
.contact-font{
    color:black;
    font-weight: bold;
}
h2{
    margin: 0;
    padding: 5px;
    text-align: left;
    
}
/* Sticky header  */
header{
    left: 0; 
    width: 100%;
    height: 100px;
    background-color: black;
    font-family: Helvetica;
    position: sticky;
    top: 0;
    background-size: contain;
    
   
}
/* sticky footer  */
footer { 
    position: fixed; 
    left: 0; 
    bottom: 0; 
    width: 100%; 
    background-color: black; 
    color: white; 
    text-align: center; 
    font-size: 12px;
    
    
}
/*all links*/
.nav{
    height:100px;
}
/*links for within the website*/
.item-link{
    color : white;
    text-decoration: none;

}
.nav-connect{
    height:45px;
}
.link{
    height: 20px;
}

/* links to other websites */
.connect{
    width: 25px;
    height:25px;
    text-align: center;
    padding:5px;

    
}
.external-links{
    margin-left:400px;
    margin-right: 600px;
    height:35px;
}
/* My name in the header  */
#name{
   
    text-align: center;
    margin-left: 0;
    margin-top:0;
    border:0;
    padding:0;
    height:30px;
    width: 300px;
    
}

/* header link lists  */
ul {
    list-style-type:none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-left: 0px;

}
li {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}
/* image sizes for project images  */
.projects{
    width:175px;
    height:175px;
    padding: 10px;
    margin: 30px;
    border: solid;
    border-width: 5px;
    background:black;
    
}

/* contact text info for submit sheet*/

input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box;
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
}

/* Style the submit button  */
input[type=submit] {
    background-color: gold;
    color:black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, dark gold color */
input[type=submit]:hover {
    background-color: goldenrod;
}

/* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
    background-color: lightgrey;
    padding: 20px;
}

/*personal photo*/
.myself{
    border:solid;
    border-width: 5px;
    border-color: black;
    border-radius: 150px; 
    padding:5px;
    background:white;
}
.writing{
        position: relative;
        text-align: left;
        color: white;
}
.centered {
    position: absolute;
    bottom: 20px;
    left: 130px;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    background: black;
    padding:15px;
    width: 150px;

}

